html {
        background-color: black;
    }


canvas {
    position:absolute;
    z-index: -1;
    top: 0;
    opacity: 0.35;
}

body
{
    opacity: 1;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: -0.2px 0 #0f0, 0 0.2px #0f0, 0.2px 0 #0f0, 0 -0.2px #0f0;
    font-family: 'Source Code Pro', monospace;

}


